<div class="container d-flex justify-content-center">

    <div class="e-card ">
        <div class="card-header">
            
             <h3>Forget Password</h3>
        </div>
        <div class="card-body">
             <form [formGroup]="forgotPasswordGroup">
                <div class='row'>
                  <label>Enter Email address associated with your account</label>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb-4 mt-4">
        
                <ejs-textbox cssClass="e-outline" autocomplete="off" formControlName="email" placeholder="Enter Email Address">
                </ejs-textbox>
                <span class="e-error" *ngIf="formSubmitted && forgotPasswordGroup.controls.email.hasError('required')">
                  <span class="validation-error">*required*</span>
                </span>
                <span class="e-error" *ngIf="formSubmitted && forgotPasswordGroup.controls.email.hasError('email')">
                    <span class="validation-error">*Invalid email*</span>
                  </span>
            </div>
                </div>
            
 
                <div class="row">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="buttons">
                      <button
                        ejs-button
                        cssClass="e-info"
                        (click)="Submit()"
                        class="save"
                        [disabled]="disabled"
                      >
                      <span *ngIf="!requestSend">
                        Submit
                    </span>
                    <span *ngIf="requestSend">
                        <i class="fa fa-spinner fa-spin fa-fw"></i>
                    </span>
                      </button>
                      <button ejs-button cssClass="e-outline" class="cancel" (click)="Cancel()">
                        Cancel
                      </button>
                    </div>
                  </div>
                </div>  
    </form>
        </div>
    </div>
    </div>
    