
.e-card {

    width: 550px;
    margin-top: 250px;
    
  }
  .card-header {
    background-color: #442363;
    text-align: center;
  }


  h3 {
    text-align: left;
    color:white;
  }
  button {
    width: 80px;
    margin-left: 29px;
    margin-top: 8px;
    border:none;
  
  }
  
 .uploads{
     text-align: center;
 }

.e-upload{
    border: none !important;
  
    
}

.buttons .save {
    width: 100px;
    background-color: #442363;
    margin-left: -1px;
  }
  .buttons .cancel {
    width: 100px;
    background-color: red;
    color:white;
  }