<div class="card">
  <div class="card-content">
    <form [formGroup]="formGroup">
      <div class="row mb-4">
        <div class="col-9">
          <div class="row">
            <div class="mb-4 col-12 col-md-12 col-sm-12 col-xs-12">
              <label>Area Name<small class="astriks">*</small></label>
              <div class="e-input-group">
                <input
                  class="e-input"
                  name="input"
                  type="text"
                  [ngClass]="{
                    invalid:
                      crudService.getControl(formGroup, 'area_name').invalid &&
                      formSubmitted,
                    valid: crudService.getControl(formGroup, 'area_name').valid
                  }"
                  formControlName="area_name"
                  placeholder="Area Name"
                />
              </div>
            </div>
            <div class="mb-4 col-md-12 col-sm-12 col-xs-12">
              <label>Description</label>
              <ejs-textbox
                multiline="true"
                placeholder="Description"
                formControlName="description"
                rows="3"
              >
              </ejs-textbox>
            </div>

            <!-- <div class="mt-4 col-md-6 col-sm-12 col-xs-12">
                <div class="form-group">
                  <label for="start"
                    >Accept Stock Out Order<small class="astriks">*</small></label
                  >
                  <br />
  
                  <ejs-checkbox
                    label="Accept"
                    formControlName="accept_stockout_order"
                  >
                  </ejs-checkbox>
                </div>
              </div> -->
          </div>
        </div>
        <div class="col-3">
          <div class="row">
            <span class="mb-2 d-flex justify-center" id="icon">Image</span>
            <div class="col-3">
              <div class="wrap">
                <span *ngIf="image">
                  <img [src]="image" id="main-profile-img" />
                </span>

                <span *ngIf="!image">
                  <i
                    class="fa fa-building fa-5x"
                    aria-hidden="true"
                    id="main-profile-img"
                  ></i>
                </span>
                <button id="delete" (click)="onTrash()">
                  <i class="fa fa-trash"></i>
                </button>
                <button class="e-btn e-control" id="browse">
                  <i class="fa fa-edit"></i>
                </button>
                <span
                  *ngIf="
                    formSubmitted &&
                    service.getControl(formGroup, 'image').hasError('required')
                  "
                  class="error"
                  id="error"
                >
                  <small> * Image is required *</small></span
                >
              </div>

              <ejs-uploader
                #file
                id="file"
                allowedExtensions="image/*"
                minFi1eSize="10000"
                maxFileSize="1500000"
                [showFileList]="false"
                [autoUpload]="false"
                (change)="
                  convert_from_base64(this, file?.filesData[0], 'image')
                "
                multiple="false"
              ></ejs-uploader>
            </div>
          </div>
        </div>

        <hr />
        <div class="row">
          <app-form-buttons (submit)="Submit($event)"></app-form-buttons>
        </div>
    
      </div>
    </form>
  </div>
</div>
