<ejs-tab #tab overflowMode="Scrollable">
  <form [formGroup]="formGroup">
    <e-tabitems>
      <e-tabitem>
        <ng-template #headerText>
          <div>Supplier Information</div>
        </ng-template>

        <ng-template #content class="content">
          <div class="row mb-4">
            <div class="col-9">
              <div class="row">
                <div class="mb-4 col-12 col-md-6">
                  <label>Company Name<small class="astriks">*</small></label>
                  <div class="e-input-group">
                    <input
                      class="e-input"
                      name="input"
                      [ngClass]="{
                        invalid:
                          crudService.getControl(formGroup, 'company_name')
                            .invalid && formSubmitted,
                        valid: crudService.getControl(formGroup, 'company_name')
                          .valid
                      }"
                      type="text"
                      formControlName="company_name"
                      placeholder="Company Name"
                    />
                  </div>
                </div>
                <div class="mb-4 col-md-6 col-sm-12 col-xs-12">
                  <label>Tin Number<small class="astriks">*</small></label>
                  <div class="e-input-group">
                    <input
                      [ngClass]="{
                        invalid:
                          crudService.getControl(formGroup, 'tin_number')
                            .invalid && formSubmitted,
                        valid: crudService.getControl(formGroup, 'tin_number')
                          .valid
                      }"
                      class="e-input"
                      name="input"
                      type="text"
                      formControlName="tin_number"
                      placeholder="Tin Number"
                    />
                  </div>
                </div>

                <div class="mb-4 col-md-6 col-sm-12 col-xs-12">
                  <label>License Number<small class="astriks">*</small></label>
                  <div class="e-input-group">
                    <input
                      [ngClass]="{
                        invalid:
                          crudService.getControl(formGroup, 'license_number')
                            .invalid && formSubmitted,
                        valid: crudService.getControl(
                          formGroup,
                          'license_number'
                        ).valid
                      }"
                      class="e-input"
                      name="input"
                      type="text"
                      formControlName="license_number"
                      placeholder="License Number"
                    />
                  </div>
                </div>
                <div class="mb-4 col-md-6 col-sm-12 col-xs-12">
                  <label>Area<small class="astriks">*</small></label>
                  <div class="form-group">
                    <ejs-dropdownlist
                      [ngClass]="{
                        invalid:
                          crudService.getControl(formGroup, 'product_area_id')
                            .invalid && formSubmitted,
                        valid: crudService.getControl(
                          formGroup,
                          'product_area_id'
                        ).valid
                      }"
                      placeholder="area"
                      formControlName="product_area_id"
                      [dataSource]="areaList"
                      [fields]="areaFields"
                      (select)="load_parents($event.itemData?.value)"
                    >
                    </ejs-dropdownlist>

                    <!-- <span class="e-error" *ngIf="formSubmitted && EmailSettingGroup.controls.password.hasError('minlength')">
                              <span class="validation-error">*Your password must be at least 5 characters long*</span>
                              </span> -->
                  </div>
                </div>

                <div class="mb-4 col-md-6 col-sm-12 col-xs-12">
                  <label
                    >Product Category<small class="astriks">*</small></label
                  >
                  <div class="form-group">
                    <p-cascadeSelect
                      [ngClass]="{
                        invalid:
                          crudService.getControl(
                            formGroup,
                            'product_category_id'
                          ).invalid && formSubmitted,
                        valid: crudService.getControl(
                          formGroup,
                          'product_category_id'
                        ).valid
                      }"
                      [(ngModel)]="selectedNode"
                      [options]="parentCategoryList"
                      optionLabel="text"
                      optionGroupLabel="text"
                      formControlName="product_category_id"
                      [placeholder]="selectedCategory ?? placeholder"
                      [optionGroupChildren]="['children', 'children']"
                      [style]="{ height: '32px', width: '100%' }"
                    >
                    </p-cascadeSelect>

                    <!-- <ejs-dropdowntree
                      [ngClass]="{
                        invalid:
                          crudService.getControl(
                            formGroup,
                            'product_category_id'
                          ).invalid && formSubmitted,
                        valid: crudService.getControl(
                          formGroup,
                          'product_category_id'
                        ).valid
                      }"
                      placeholder="product category"
                      formControlName="product_category_id"
                      [fields]="categoryFields"
                    >
                    </ejs-dropdowntree> -->

                    <!-- <span class="e-error" *ngIf="formSubmitted && EmailSettingGroup.controls.password.hasError('minlength')">
                              <span class="validation-error">*Your password must be at least 5 characters long*</span>
                              </span> -->
                  </div>
                </div>

                <div
                  class="mb-4 col-md-6 col-sm-12 col-xs-12"
                  formGroupName="account"
                >
                  <label>Group<small class="astriks">*</small></label>
                  <div class="form-group">
                    <ejs-dropdownlist
                      [ngClass]="{
                        invalid:
                          crudService.getControl(formGroup, 'account.group_id')
                            .invalid && formSubmitted,
                        valid: crudService.getControl(
                          formGroup,
                          'account.group_id'
                        ).valid
                      }"
                      formControlName="group_id"
                      [dataSource]="groupList"
                      [fields]="groupField"
                      placeholder="Group"
                    >
                    </ejs-dropdownlist>
                  </div>
                </div>
                <div
                  class="mb-4 col-md-1 col-sm-12 col-xs-12"
                  formGroupName="account"
                ></div>

                <div class="mb-4 col-md-12 col-sm-12 col-xs-12">
                  <label>Description</label>
                  <ejs-textbox
                    formControlName="description"
                    multiline="true"
                    placeholder="Description"
                    rows="3"
                  >
                  </ejs-textbox>
                </div>
              </div>
            </div>
            <div class="col-3">
              <div class="row">
                <span
                  class="mb-2 d-flex justify-center"
                  id="logo"
                  style="
                    margin-left: 48px;
                    font-size: 20px;
                    font-weight: bold;
                    color: grey;
                  "
                  >Logo</span
                >
                <div class="col-3">
                  <div class="wrap">
                    <span *ngIf="image">
                      <img [src]="image" id="main-profile-img" />
                    </span>

                    <span *ngIf="!image">
                      <i
                        class="fa fa-building fa-5x"
                        aria-hidden="true"
                        id="main-profile-img"
                      ></i>
                    </span>
                    <button id="delete" (click)="onTrash()">
                      <i class="fa fa-trash"></i>
                    </button>
                    <button
                      class="e-btn e-control"
                      id="browse"
                      (click)="onUploadButtonClicked()"
                    >
                      <i class="fa fa-edit"></i>
                    </button>
                    <span
                      *ngIf="
                        formSubmitted &&
                        service
                          .getControl(formGroup, 'image')
                          .hasError('required')
                      "
                      class="error"
                    >
                      <small> * Image is required *</small></span
                    >
                  </div>

                  <ejs-uploader
                    #file
                    id="uploadLogo"
                    allowedExtensions="image/*"
                    minFi1eSize="10000"
                    maxFileSize="1500000"
                    [showFileList]="false"
                    [autoUpload]="false"
                    (change)="
                      convert_from_base64(this, file.filesData[0], 'image')
                    "
                    multiple="false"
                  ></ejs-uploader>
                </div>
              </div>
            </div>
          </div>
          <hr />
          <app-tab-buttons
            (next)="nextTab(1)"
            (back)="previousTab(0)"
            [disabled]="disableButton('firstTab')"
          ></app-tab-buttons>
        </ng-template>
      </e-tabitem>
      <e-tabitem>
        <ng-template #headerText>
          <div>Address</div>
        </ng-template>
        <ng-template #content class="content">
          <div class="row mb-4">
            <div
              class="mb-4 col-md-6 col-sm-12 col-xs-12"
              formGroupName="account"
            >
              <div class="form-group">
                <label for="start"
                  >Full Name<small class="astriks">*</small></label
                >

                <div class="e-input-group">
                  <input
                    [ngClass]="{
                      invalid:
                        crudService.getControl(formGroup, 'account.full_name')
                          .invalid && formSubmitted,
                      valid: crudService.getControl(
                        formGroup,
                        'account.full_name'
                      ).valid
                    }"
                    class="e-input"
                    name="input"
                    formControlName="full_name"
                    type="text"
                    placeholder="Full"
                  />
                </div>
              </div>
            </div>
            <div
              class="mb-4 col-md-6 col-sm-12 col-xs-12"
              formGroupName="account"
            >
              <div class="form-group">
                <label for="start">Email<small class="astriks">*</small></label>

                <div class="e-input-group">
                  <input
                    [ngClass]="{
                      invalid:
                        crudService.getControl(formGroup, 'account.email')
                          .invalid && formSubmitted,
                      valid: crudService.getControl(formGroup, 'account.email')
                        .valid
                    }"
                    class="e-input"
                    name="input"
                    formControlName="email"
                    type="text"
                    placeholder="Email"
                  />
                </div>
                <span
                  *ngIf="
                    formSubmitted &&
                    service
                      .getControl(formGroup, 'account.email')
                      .hasError('email')
                  "
                  class="error"
                >
                  <small> * Invalid Email*</small>
                </span>
              </div>
            </div>

            <div
              class="mb-4 col-md-6 col-sm-12 col-xs-12"
              formGroupName="account"
            >
              <div class="form-group">
                <label for="start"
                  >Phone Number<small class="astriks">*</small></label
                >

                <div class="e-input-group">
                  <input
                    [ngClass]="{
                      invalid:
                        crudService.getControl(
                          formGroup,
                          'account.phone_number'
                        ).invalid && formSubmitted,
                      valid: crudService.getControl(
                        formGroup,
                        'account.phone_number'
                      ).valid
                    }"
                    class="e-input"
                    name="input"
                    formControlName="phone_number"
                    type="text"
                    maxlength="10"
                    minlength="9"
                    placeholder="Phone Number"
                  />
                </div>
                <span *ngIf="formSubmitted && (service.getControl(formGroup,'account.phone_number').hasError('minlength')||service.getControl(formGroup,'account.phone_number').hasError('maxlength'))" class="error">
                  <small> *invalid phone number length*</small>
                </span>
              </div>
            </div>
            <div
              class="mb-4 col-md-6 col-sm-12 col-xs-12"
              formGroupName="address"
            >
              <label for="start">Region<small class="astriks">*</small></label>
              <ejs-dropdownlist
                [ngClass]="{
                  invalid:
                    crudService.getControl(formGroup, 'address.region')
                      .invalid && formSubmitted,
                  valid: crudService.getControl(formGroup, 'address.region')
                    .valid
                }"
                placeholder="Region"
                formControlName="region"
                [dataSource]="lookup_data['region']"
                (change)="
                  load_city($event.itemData?.id, null, formGroup, 'city')
                "
                [fields]="fields"
                cssClass="e-outline"
                placeholder="Region"
                floatLabelType="Never"
              ></ejs-dropdownlist>
            </div>

            <div
              class="mb-4 col-md-6 col-sm-12 col-xs-12"
              formGroupName="address"
            >
              <label for="start">City<small class="astriks">*</small></label>
              <ejs-dropdownlist
                [ngClass]="{
                  invalid:
                    crudService.getControl(formGroup, 'address.city').invalid &&
                    formSubmitted,
                  valid: crudService.getControl(formGroup, 'address.city').valid
                }"
                placeholder="City"
                [dataSource]="lookup_data['city']"
                [fields]="fields"
                (change)="
                  load_sub_city(
                    $event.itemData?.id,
                    null,
                    formGroup,
                    'sub_city'
                  )
                "
                formControlName="city"
                cssClass="e-outline"
                placeholder="City"
                floatLabelType="Never"
              ></ejs-dropdownlist>
            </div>

            <div
              class="mb-4 col-md-6 col-sm-12 col-xs-12"
              formGroupName="address"
            >
              <label for="start"
                >Sub city<small class="astriks">*</small></label
              >
              <ejs-dropdownlist
                [ngClass]="{
                  invalid:
                    crudService.getControl(formGroup, 'address.sub_city')
                      .invalid && formSubmitted,
                  valid: crudService.getControl(formGroup, 'address.sub_city')
                    .valid
                }"
                placeholder="Sub city"
                formControlName="sub_city"
                [dataSource]="lookup_data['sub_city']"
                [fields]="fields"
                cssClass="e-outline"
                placeholder="Sub city"
                floatLabelType="Never"
              ></ejs-dropdownlist>
            </div>

            <div
              class="mb-4 col-md-6 col-sm-12 col-xs-12"
              formGroupName="address"
            >
              <label for="start">Woreda<small class="astriks">*</small></label>

              <ejs-numerictextbox
                [ngClass]="{
                  invalid:
                    crudService.getControl(formGroup, 'address.wereda')
                      .invalid && formSubmitted,
                  valid: crudService.getControl(formGroup, 'address.wereda')
                    .valid
                }"
                format="###"
                class="e-input"
                name="input"
                formControlName="wereda"
                type="text"
                min="1"
                placeholder="Wereda"
              ></ejs-numerictextbox>
            </div>

            <div
              class="mb-4 col-md-6 col-sm-12 col-xs-12"
              formGroupName="address"
            >
              <div class="form-group">
                <label for="start"
                  >Location<small class="astriks">*</small></label
                >

                <div class="e-input-group">
                  <input
                    [ngClass]="{
                      invalid:
                        crudService.getControl(formGroup, 'address.location')
                          .invalid && formSubmitted,
                      valid: crudService.getControl(
                        formGroup,
                        'address.location'
                      ).valid
                    }"
                    class="e-input"
                    name="input"
                    formControlName="location"
                    type="text"
                    placeholder="Location"
                  />
                </div>
              </div>
            </div>
            <div
              class="mb-4 col-md-6 col-sm-12 col-xs-12"
              formGroupName="address"
            >
              <div class="form-group">
                <label for="start">Alternative Phone Number</label>

                <div class="e-input-group">
                  <input
                    [ngClass]="{
                      invalid:
                        crudService.getControl(
                          formGroup,
                          'address.alternative_phone_number'
                        ).invalid && formSubmitted,
                      valid: crudService.getControl(
                        formGroup,
                        'address.alternative_phone_number'
                      ).valid
                    }"
                    class="e-input"
                    name="input"
                    formControlName="alternative_phone_number"
                    type="text"
                    placeholder="Alternative Phone Number"
                  />
                </div>
              </div>
            </div>
            <div
              class="mb-4 col-md-6 col-sm-12 col-xs-12"
              formGroupName="address"
            >
              <div class="form-group">
                <label for="start">Alternative Email</label>

                <div class="e-input-group">
                  <input
                    [ngClass]="{
                      invalid:
                        crudService.getControl(
                          formGroup,
                          'address.alternative_email_address'
                        ).invalid && formSubmitted,
                      valid: crudService.getControl(
                        formGroup,
                        'address.alternative_email_address'
                      ).valid
                    }"
                    class="e-input"
                    name="input"
                    formControlName="alternative_email_address"
                    type="text"
                    placeholder="Alternative Email"
                  />
                </div>
                <span
                  *ngIf="
                    formSubmitted &&
                    service
                      .getControl(
                        formGroup,
                        'address.alternative_email_address'
                      )
                      .hasError('email')
                  "
                  class="error"
                >
                  <small> * Invalid Email*</small>
                </span>
              </div>
            </div>
          </div>

          <hr />
          <app-tab-buttons
            (next)="nextTab(2)"
            (back)="previousTab(0)"
            [disabled]="disableButton('secondTab')"
          ></app-tab-buttons>
        </ng-template>
      </e-tabitem>
      <e-tabitem>
        <ng-template #headerText>
          <div>Contact Person</div>
        </ng-template>
        <ng-template #content class="content">
          <div class="row mb-4">
            <div
              class="mb-4 col-md-6 col-sm-12 col-xs-12"
              formGroupName="contact_person_address"
            >
              <label for="start"
                >Full Name<small class="astriks">*</small></label
              >

              <div class="e-input-group">
                <input
                  [ngClass]="{
                    invalid:
                      crudService.getControl(
                        formGroup,
                        'contact_person_address.contact_person_name'
                      ).invalid && formSubmitted,
                    valid: crudService.getControl(
                      formGroup,
                      'contact_person_address.contact_person_name'
                    ).valid
                  }"
                  class="e-input"
                  name="input"
                  formControlName="contact_person_name"
                  type="text"
                  placeholder="Full Name"
                />
              </div>
            </div>
            <div
              class="mb-4 col-md-6 col-sm-12 col-xs-12"
              formGroupName="contact_person_address"
            >
              <div class="form-group">
                <label for="start">Email<small class="astriks">*</small></label>

                <div class="e-input-group">
                  <input
                    [ngClass]="{
                      invalid:
                        crudService.getControl(
                          formGroup,
                          'contact_person_address.email_address'
                        ).invalid && formSubmitted,
                      valid: crudService.getControl(
                        formGroup,
                        'contact_person_address.email_address'
                      ).valid
                    }"
                    class="e-input"
                    name="input"
                    formControlName="email_address"
                    type="text"
                    placeholder="Email"
                  />
                </div>
              </div>
            </div>

            <div
              class="mb-4 col-md-6 col-sm-12 col-xs-12"
              formGroupName="contact_person_address"
            >
              <div class="form-group">
                <label for="start"
                  >Phone Number<small class="astriks">*</small></label
                >

                <div class="e-input-group">
                  <input
                    [ngClass]="{
                      invalid:
                        crudService.getControl(
                          formGroup,
                          'contact_person_address.phone_number'
                        ).invalid && formSubmitted,
                      valid: crudService.getControl(
                        formGroup,
                        'contact_person_address.phone_number'
                      ).valid
                    }"
                    class="e-input"
                    name="input"
                    formControlName="phone_number"
                    type="text"
                    placeholder="Phone Number"
                  />
                </div>
              </div>
            </div>
            <div
              class="mb-4 col-md-6 col-sm-12 col-xs-12"
              formGroupName="contact_person_address"
            >
              <label for="start">Region<small class="astriks">*</small></label>
              <ejs-dropdownlist
                [ngClass]="{
                  invalid:
                    crudService.getControl(
                      formGroup,
                      'contact_person_address.region'
                    ).invalid && formSubmitted,
                  valid: crudService.getControl(
                    formGroup,
                    'contact_person_address.region'
                  ).valid
                }"
                placeholder="Region"
                [dataSource]="lookup_data['region']"
                (change)="
                  load_city(
                    $event.itemData?.id,
                    null,
                    formGroup,
                    'contact_person_address.city',
                    'contact_person_city',
                    'contact_person_sub_city'
                  )
                "
                [fields]="fields"
                formControlName="region"
                cssClass="e-outline"
                placeholder="Region"
                floatLabelType="Never"
              ></ejs-dropdownlist>
            </div>

            <div
              class="mb-4 col-md-6 col-sm-12 col-xs-12"
              formGroupName="contact_person_address"
            >
              <label for="start">City<small class="astriks">*</small></label>
              <ejs-dropdownlist
                [ngClass]="{
                  invalid:
                    crudService.getControl(
                      formGroup,
                      'contact_person_address.city'
                    ).invalid && formSubmitted,
                  valid: crudService.getControl(
                    formGroup,
                    'contact_person_address.city'
                  ).valid
                }"
                placeholder="City"
                [dataSource]="lookup_data['contact_person_city']"
                [fields]="fields"
                (change)="
                  load_sub_city(
                    $event.itemData?.id,
                    null,
                    formGroup,
                    'contact_person_address.sub_city',
                    'contact_person_sub_city',
                    'contact_person_sub_city'
                  )
                "
                formControlName="city"
                cssClass="e-outline"
                placeholder="City"
                floatLabelType="Never"
              ></ejs-dropdownlist>
            </div>

            <div
              class="mb-4 col-md-6 col-sm-12 col-xs-12"
              formGroupName="contact_person_address"
            >
              <label for="start"
                >Sub city<small class="astriks">*</small></label
              >
              <ejs-dropdownlist
                [ngClass]="{
                  invalid:
                    crudService.getControl(
                      formGroup,
                      'contact_person_address.sub_city'
                    ).invalid && formSubmitted,
                  valid: crudService.getControl(
                    formGroup,
                    'contact_person_address.sub_city'
                  ).valid
                }"
                placeholder="Sub city"
                [dataSource]="lookup_data['contact_person_sub_city']"
                [fields]="fields"
                formControlName="sub_city"
                cssClass="e-outline"
                placeholder="Sub city"
                floatLabelType="Never"
              ></ejs-dropdownlist>
            </div>

            <div
              class="mb-4 col-md-6 col-sm-12 col-xs-12"
              formGroupName="contact_person_address"
            >
              <label for="start">Woreda<small class="astriks">*</small></label>

              <ejs-numerictextbox
                [ngClass]="{
                  invalid:
                    crudService.getControl(
                      formGroup,
                      'contact_person_address.wereda'
                    ).invalid && formSubmitted,
                  valid: crudService.getControl(
                    formGroup,
                    'contact_person_address.wereda'
                  ).valid
                }"
                format="###"
                class="e-input"
                name="input"
                formControlName="wereda"
                type="text"
                min="1"
                placeholder="Wereda"
              ></ejs-numerictextbox>
            </div>

            <div
              class="mb-4 col-md-6 col-sm-12 col-xs-12"
              formGroupName="contact_person_address"
            >
              <label for="start">House Number</label>

              <div class="e-input-group">
                <input
                  [ngClass]="{
                    invalid:
                      crudService.getControl(
                        formGroup,
                        'contact_person_address.house_number'
                      ).invalid && formSubmitted,
                    valid: crudService.getControl(
                      formGroup,
                      'contact_person_address.house_number'
                    ).valid
                  }"
                  class="e-input"
                  name="input"
                  formControlName="house_number"
                  type="text"
                  placeholder="House Number"
                />
              </div>
            </div>

            <div
              class="mb-4 col-md-6 col-sm-12 col-xs-12"
              formGroupName="contact_person_address"
            >
              <div class="form-group">
                <label for="start">Alternative Phone Number</label>

                <div class="e-input-group">
                  <input
                    [ngClass]="{
                      invalid:
                        crudService.getControl(
                          formGroup,
                          'contact_person_address.alternative_phone_number'
                        ).invalid && formSubmitted,
                      valid: crudService.getControl(
                        formGroup,
                        'contact_person_address.alternative_phone_number'
                      ).valid
                    }"
                    class="e-input"
                    name="input"
                    formControlName="alternative_phone_number"
                    type="text"
                    placeholder="Alternative Phone Number"
                  />
                </div>
              </div>
            </div>
          </div>

          <hr />
          <app-tab-buttons
            (next)="nextTab(3)"
            (back)="previousTab(1)"
            [disabled]="disableButton('thirdTab')"
          ></app-tab-buttons>

          <br />
        </ng-template>
      </e-tabitem>
      <e-tabitem>
        <ng-template #headerText>
          <div>Attachment</div>
        </ng-template>
        <ng-template #content class="content">
          <div class="control-section">
            <div class="col-lg-12">
              <div class="mb4 row">
                <label for="start"
                  >Title of the file<small class="astriks">*</small></label
                >

                <div
                  class="mb-4 col-md-4 col-sm-12 col-xs-12"
                  formGroupName="attachmentContent"
                >
                  <div class="e-input-group">
                    <input
                      [ngClass]="{
                        invalid: !attachments.length && formSubmitted,
                        valid:
                          crudService.getControl(
                            formGroup,
                            'attachmentContent.title'
                          ).valid && formSubmitted
                      }"
                      class="e-input"
                      name="input"
                      formControlName="title"
                      type="text"
                      placeholder="Title of the file"
                    />
                  </div>
                </div>

                <div
                  class="d-flex justify-space-around mb-4 col-md-3 col-sm-12 col-xs-12"
                  formGroupName="attachmentContent"
                >
                  <input
                    type="file"
                    accept=".pdf"
                    (change)="uploading_file($event)"
                    id="file"
                  />
                  <div class="">
                    <button
                      [disabled]="formGroup.get('attachmentContent').invalid"
                      ejs-button
                      cssClass="e-round"
                      iconCss="e-icons e-plus-icon"
                      (click)="addAttachment()"
                    ></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <table class="table table-striped">
            <thead class="thead-dark">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody *ngIf="attachments.length">
              <tr *ngFor="let attachment of attachments; let i = index">
                <td>{{ i + 1 }}</td>
                <td>{{ attachment.title }}</td>
                <td>
                  <button
                    ejs-button
                    cssClass="e-link"
                    iconCss="icon-view"
                    *ngIf="attachment.showEdit"
                    (click)="onView(attachment.file)"
                  ></button>
                  <button
                    ejs-button
                    cssClass="e-link"
                    iconCss="icon-delete"
                    (click)="onDelete(i, attachment.showEdit, attachment.title)"
                  ></button>
                </td>
              </tr>
            </tbody>
            <tbody *ngIf="!attachments.length">
              <tr>
                <td colspan="4" align="center">No record found</td>
              </tr>
            </tbody>
          </table>
          <button
            *ngIf="isUpdate"
            class="btn btn-primary"
            (click)="uploadAttachment()"
            id="uploadButton"
         
          >
            Upload
          </button>
          <app-form-buttons (submit)="Submit($event)"></app-form-buttons>
        </ng-template>
      </e-tabitem>
    </e-tabitems>
  </form>
</ejs-tab>
