
.e-card {
 
    width: 550px;
    border-radius:10px;
    margin-top: 50px !important;
  }
button{
  margin-top:10px;
  background-color: #442363;
  border: none;
}

.card-header{
  background-color: #442363;
}
p{
  color:white !important;
  font-weight:bold !important;
}