
<div class="container d-flex justify-content-center">
    <div class="e-card ">
        <div class="card-header">

             <p>Strong Passwords include number, letter and punctuation mark.</p>
        </div>
        <div class="card-body">
             <form [formGroup]="changePasswordGroup" ngOnSubmit="Submit()">
               
               <div class="row">      
                   <div class="col-12">
                       <label>Enter your old Password</label>
            <ejs-textbox cssClass="e-outline" autocomplete="off" formControlName="old_password" type="password" >
        </ejs-textbox>
        <span class="e-error" *ngIf="formSubmitted && crudService.getControl(changePasswordGroup,'old_password').hasError('required')">
            <span class="validation-error">*required*</span>
          </span>
        <span class="e-error" *ngIf="formSubmitted && crudService.getControl(changePasswordGroup,'old_password').hasError('minlength')">
            <span class="validation-error">*Your password must be at least 5 characters long*</span>
          </span>
        </div>
        </div>
        <div class="row">      
            <div class="col-12">
                <label>Enter your New Password</label>
     <ejs-textbox cssClass="e-outline" autocomplete="off" formControlName="new_password" type="password">
 </ejs-textbox>
 <span class="e-error" *ngIf="formSubmitted && crudService.getControl(changePasswordGroup,'old_password').hasError('required')">
    <span class="validation-error">*required*</span>
  </span>
  <span class="e-error" *ngIf="formSubmitted && crudService.getControl(changePasswordGroup,'new_password').hasError('minlength')">
    <span class="validation-error">*Your password must be at least 5 characters long*</span>
    </span>
 </div>
 </div>
    

        <div class="row">
            <div class="col-4">
                <button ejs-button cssClass="e-custom" (click)="Submit()">Change Password</button>
            </div>
        </div>
    
    </form>
        </div>
    </div>
    </div>
    