.card{
    margin-top: 20px;
  }

#main-profile-img {
  width: 140px;
  height: 140px;

  border-style: solid;
  border-color: #ffffff;
  box-shadow: 0 0 8px 3px #b8b8b8;
  position: relative;
}
/* #uploadLogo {
  visibility: hidden;
  height: 30px;
  border: none !important;
} */
@media only screen and (max-width: 1023px) {
  #main-profile-img {
    width: 140px;
    height: 140px;
  
    border-style: solid;
    border-color: #ffffff;
    box-shadow: 0 0 8px 3px #b8b8b8;
    position: relative;
    margin-top: -12px;
    margin-left: -200px;
    margin-bottom:400px;
  }
  .col-9{
    margin-top:170px;
  }
  .wrap {
    position: relative;
  }
  .wrap .fa-user {
    text-align: center;
    color: #442363;
    padding-top: 25px;
  }
  .wrap #delete {
    font-weight: 900;
  
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid grey;
    top: 125px;
    left: -100px !important;
    background: white;
    color: red;
    align-items: center;
    display: flex;
    justify-content: center;
  }
  .wrap #browse {
    font-weight: 900;
  
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid grey;
    top: 125px !important;
    left: -190px !important;
    background: white;
    color: #442363;
    align-items: center;
    display: flex;
    justify-content: center;
  }
  #error{
    position: absolute !important;
    top: 163px !important;
    width: 140px;
}
}
.wrap {
  position: relative;
}
.wrap .fa-user {
  text-align: center;
  color: #442363;
  padding-top: 25px;
}
.wrap #delete {
  font-weight: 900;

  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid grey;
  top: 125px;
  left: 105px;
  background: white;
  color: red;
  align-items: center;
  display: flex;
  justify-content: center;
}
.wrap #browse {
  font-weight: 900;

  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid grey;
  top: 125px;
  left: 8px;
  background: white;
  color: #442363;
  align-items: center;
  display: flex;
  justify-content: center;
}

.uploads {
  text-align: center;
}

#uploadLogo {
  /* visibility: hidden; */
  height: 30px;
  border: none !important;
}

  label{
    font-size:12px;
    font-weight: bold;
    margin-bottom: 10px;
    color:grey;
  }
  
  .row {
    margin: 15px;
  }
  
  .buttons {
    display: flex;
  
    gap: 20px;
    margin-left: 5px;
  }
  button {
    width: 80px;
  
  }

  .buttons .save {
    width: 100px;
    background-color: #442363;
  }
  .buttons .cancel {
    width: 100px;
    background-color: white;
    color: black;
  }
  
  h6{
    /* font-size:12px; */
    font-weight: bold;
    margin-bottom: 10px;
    color:grey;
  }

  .e-tab {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    /* background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125); */
    border-radius: .25rem;
    /* min-width: 1500px !important;
    min-height: 400px !important; */
}
@media only screen and (max-width: 768px) {
  .e-tab {
    width: 350px !important;
    min-height: 400px !important;
  }
  #logo{
    margin-left:-150px !important;
    margin-top:-30px !important;
   } 
   #main-profile-img{
     margin-top:10px !important;
     margin-bottom: 10px !important;
     margin-left:-150px !important;
   }
   .wrap #browse{
     margin-left: 30px !important;
   }
   .wrap #delete{
     margin-left: 70px !important;
   }
   #error{
    margin-left: -86px;
    margin-top: -13px !important;
}
}
@media only screen and (min-width: 1025px) {
  .e-tab
    .e-tab-header
    .e-toolbar-items:not(.e-tbar-pos)
    .e-toolbar-item:last-child {
    margin: 0;
    width: 1200px !important;
    padding-bottom: 0;
  }

}
  
.e-tab .e-content > .e-item.e-active {
  background: inherit;
  display: block;
  padding: 25px;
}
.e-tab[_ngcontent-pff-c276] .e-content[_ngcontent-pff-c276] > .e-item.e-active[_ngcontent-pff-c276] {
    background: inherit;
    display: block;
    padding: 25px;
    box-shadow: 3px 3px 8px;
}
.icon{
  color: #442363 !important;
  font-size: 16px !important;
  cursor: pointer !important;
}
#error{
  position: absolute !important;
  top: 163px !important;
  width: 140px;
}
.text{
  color: gray !important;
  font-size: 16px !important;
}

.list-group-item{
  padding: 0px !important;
}

.no-item{
  text-align: center !important;
  padding: 0px !important;
  font-size: 20px !important;
}

.has-item{
  overflow: scroll !important;
  margin-bottom: 10px !important;
  max-height: 500px !important;

}

.has-item::-webkit-scrollbar {
  display: none;
}

.right{
  margin-right: 28px !important;
}
.astriks{
  color: red !important;
  margin-left: 10px !important;
}
.invalid {
  border: 1px solid red !important;
}  
.invalid > span{
  border: 1px solid red !important;
}  
.valid > span{
  border: 1px solid  #CED4DA !important;
}
small{
  color:red;
}

.e-upload {
  border: 1px solid #442363;
  background-color:white;
  width: 1500px;
}
.e-round{
  background-color: #442363;
  margin-top: -6px;
  margin-left: 3px;
}
.icon-view::before {
  font-family: FontAwesome;
  content: "\f06e";
  color: #442363;
}
.icon-delete::before {
  font-family: FontAwesome;
  content: "\f014";
  color: red;
}
.e-plus-icon::before {
  content: '\e823';
}
.e-delete-icon::before {
  content: '\e823';
}
.e-tab .e-tab-header .e-toolbar-item .e-tab-wrap {
  border-radius: 4px;
  color: #442363 !important;
  border: 1px solid transparent;
}
.e-file-select-wrap{
  visibility: hidden;
}
.e-upload.e-control-wrapper{
  visibility: hidden;
}
.e-checkbox-wrapper .e-label, .e-css.e-checkbox-wrapper .e-label {
  color: GREY !important;
  FONT-WEIGHT: bold !important;
}